@{
    Layout = null;
}

<!DOCTYPE html>

<html data-ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .jumbotron {
            margin-top: 80px;
            height: 350px;
        }
    </style>
</head>
<body data-ng-cloak>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ site.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div data-ng-view></div>
        <hr />
        <footer>
            <p>&copy; {{ site.copyright }}</p>
        </footer>
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/dependencies.js")
    @System.Web.Optimization.Scripts.Render("~/bundles/ng-app.js")
</body>
</html>
